body {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(198, 180, 216, 1) 26%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 0 150px;
}

p {
  font-size: 20px;
  text-align: justify;
}

#logo {
  display: block;
  margin: 0 auto;
}

.curiosidade {
  background-image: url("./imgs/favo-de-mel.png");

  border: 1px solid #f6a213;
  border-radius: 5px;
  padding: 15px;
}

.curiosidade > img {
  float: left;
  margin-right: 20px;
}

.casta-de-abelha {
  border-radius: 50%;
  border: 5px solid #f6a213;
}

.esquerda {
  float: left;
  margin-right: 20px;
}

.direita {
  float: right;
  margin-left: 20px;
}

#topo {
  background: rgba(255, 255, 255, 15%);
  box-shadow: 4px 4px 4px #0003;
  padding: 30px;
}

a {
  text-decoration: none;
}

a[href^="http"] {
  background-color: white;
}

a:link {
  color: blue;
}

a:visited {
  color: darkolivegreen;
}

a:hover {
  color: blueviolet;
}

a:active {
  color: cadetblue;
}

img {
  border: 2px solid red;
}

img[alt] {
  border: none;
}
